*{
    margin: 0;
    padding:  0;
     box-sizing: border-box;
     text-decoration: none;
     font-family: 'Montserrat', sans-serif;
     
   }

.encabezado{
background: rgb(253, 97, 26);
 display: flex;
justify-content: center;

}

.logoContendor{

 }


.barra{
    display: flex;
   justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px ;
    align-items:center;

}

.navegador{
    background: rgb(253, 97, 26);
    font-family: sans-serif;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 100px;
    text-decoration: none;
}

a{
    color: black;
   text-decoration: none;
  
}

.link:hover{
cursor: pointer;
color: white;
}

.busquedaContendor{
    position: relative;
  }

.busquedaContendor i{ 
position: absolute;
top: 18px;
left: 500px;
color: rgb(160, 157, 157);
font-size: 1.2rem;


  }
.buscador{
    padding: 20px;
    padding-left: 40px; ;
    border-radius:  7x;
    border: none;
    border: 1px gainsboro solid;
    width: 500px;
    margin-left: 40px;
}





.carta{
    box-shadow:  0px 2px 5px black;
    padding: 16px;
    width: 340px;
    height: 200px ;
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-bottom: 200px; 
    border-radius: 5px; 
    text-align: center;

    }

.carta img{
    width: 120px;
}

.carta h3{
    font-size: 0.7rem;
    
     }

.carta p{
    color: #4675b9;
}

.cartaContenedor{
    display:flex;
    justify-content: space-between
          
         } 
.seccionProductos{
    margin: 10vh 5vh;
}
   
.novedades{
 border-bottom: black 2px solid; 
 
}

.inicarSesion button{
    background: rgb(253, 97, 26);
    text-align: center;
    border: none;
    border-radius: 5px;
    margin: 20px;
    font-size: 20px;
    font-size: inherit;
    font-size: 30px;
     
 }

.botonInicar{
color: white;
padding: 5px 20px 5px 30px ;
padding-left: 70px;

}

.iconoCircular{
color: rgb(255, 255, 255);
position: absolute;
padding-left: 580px;
font-size: 30px;
}

.irAlCarrito i{
font-size: 20px;
}


.irAlCarrito span{
background-color: red;
width: 18px;
height: 18px;
border-radius: 50%;
font-size: 12px;
line-height: 0px;
color: white;
display: flex;
justify-content: center;
align-items: center;
position: absolute;
padding-top: -1000px;
}

.irAlCarrito{
    position: relative;
}
.pieDePagina{
    background: rgb(253, 97, 26);
    display: flex;
}

.imagen{

}


.parrafoUno{
text-align: center;
padding-right: 20%;

}

.ayuda{

}


.sitenéssugerenciasocomentarios{
 


}





.contactanos{


}

.parrofodos
{

}








.parrafoUltimo{
    padding: 20px 20px;
    text-align: center;
    box-sizing: border-box;
    }








 